
*{
     margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter';

 
}
li{
    display: inline;
    padding: 7px;
    margin:auto;
    text-align: center;
    vertical-align:middle;

}
a{
    text-decoration: none;
}
.host2{
   text-align: right;
}
.haide{
   text-align: center;
}
.text{
   
    flex-direction: column;   
    align-items: center;      
    text-align: center;     
    gap: 5px;
    color: black;
}
.icons :hover{
  transform: translateY(-10px);
    transition: transform 0.2s ease;
}
#cautare{
    text-align: center;
    
    
}
#habs{

}
#dreapta{
 text-align: right;
 margin-top: -70px;
 padding-bottom: 25px;
 
}
hr{
    
}
#search{
    text-align: center;
    margin-top: 70px;
padding-bottom: 10px;
    
}

.main{
background-color: #ebeaea;
  
}
.lista{
 margin-top: -120px;
}
.logo234{
    max-width: 200px;
}
.planeta{
    background-color: rgb(218, 217, 217);
    border-radius: 50%;
}
#inceput{
    padding-left: 80px;
}
a{
     color: black;
    text-decoration: none;
}
.imagine{
    padding: 5px;
    float: left ;
    border-radius: 15px;
    
    
}
.anunt{
    position: relative;
    padding-left: 80px;
    padding-top: 10px;
    padding-right: 80px;
}
.poza{
    border-radius: 15px;
    width: 185px;
    height: 170px;
    
}
.peste{
    display: inline;
    position: absolute;      
    background: rgba(255, 255, 255, 0.75);    
    color: black;
    font-weight: 600;
    font-size: 14px;
    border-radius: 15px;
    top: 25px; 
    padding-left: 25px; 
    padding: 4px 12px;
    
}