
li{
    display: inline;
    padding: 7px;

}
a{
    text-decoration: none;
}
.host2{
    padding-bottom: 90px;
   text-align: right;
}
.haide{
    margin-top: -120px;
   text-align: center;
}
.text{
   
    flex-direction: column;   
    align-items: center;      
    text-align: center;     
    gap: 5px;
    color: black;
}
.icons :hover{
  transform: translateY(-10px);
    transition: transform 0.2s ease;
}
#cautare{
    text-align: center;
    padding: 30px;
    
}
#habs{
    max-width: 250px;
    padding-left: 30px;
    padding-top: -10px;
}
#dreapta{
 text-align: right;
 margin-top: -50px;
}
hr{
    margin-top: 50px;
}
#search{
    text-align: center;
    margin-top: 80px;
    
}