body {
    margin:0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
        width:100%;
        background:white;
        padding:15px 30px;
        box-shadow:0 2px 8px rgba(0,0,0,0.1);
        display:inline;
        justify-content:space-between;
        text-align: center;
        top:0;
        z-index:10;
        margin: auto;
       
        }
.logo {
    display: inline-block;
    }
a   {
    text-decoration: none;
    }
li {
    display: inline;
    padding: 5px;
    
    }
.imagine {
    float: left;
    padding: 5px;
}

.becomehost {
    display: inline-flex;
    position: absolute;
    top: 20px;
    right: 150px;
    font-size: 16px;
}


     .section-title{
        margin:40px 70px 15px;
        font-size:22px;
        font-weight:bold;
    }
    .cards-row{
        display:flex;
        gap:25px;
        padding:0 70px 20px;
        margin: auto;
        text-align: left;
    }
    .card{
        min-width:260px;
        background:white;
        border-radius:20px;
        padding-bottom:15px;
        cursor:pointer;
        transition:0.2s;
    }
    .badge{
        position:absolute;
        background:white;
        padding:4px 10px;
        border-radius:20px;
        top:10px;
        left:10px;
        font-size:13px;
        font-weight:bold;
    }
    .card-info{
        padding:10px 10px 0 10px;
    }
    .card-title{
        font-size:15px;
        font-weight:bold;
        margin:5px 0;
    }
    .card-location{
        font-size:13px;
        color:#777;
    }
    .card-price{
        margin-top:6px;
        font-size:14px;
    }
    .rating{
        font-weight:bold;
    }

