body
{
    margin: 0;
    font-family: "Inter", "Segoe UI", "Helvetica Neue", "Open Sans", Arial, sans-serif, 
                 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#firstNav
{
    width: 75%;
    margin: auto;
    padding: 2.4px 0;
}

#firstNav nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoimg
{
    width: 128px;
    height: 35px;
}

.blenderLogo
{
    padding: 10px;
}

.navBar1
{
    padding: 0 10px;
}

.navBar1 ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar2 ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 200px;
    margin: 0 auto;
    gap: 10px;
}

.navBar2 ul > :last-child
{
    flex-basis: 100%;
    padding-left: 20px;
}

li
{
    list-style-type: none;
    padding: 0 5px;
}

.navBar1 a
{
    text-decoration: none;
    color: rgb(82, 81, 81);
}

#btn
{
    border-radius: 8px;
    border: 1px solid;
    background-color: #03a1fc;
    color: #EAEDF0;
    font-weight: 500;
    padding: 5px 20px;
    font-size: 15px;
    box-shadow: 0 0 25px rgba(100, 170, 255, 0.6);
}

#active
{
    color: black;
    padding-bottom: 17px;
    border-bottom: 5px solid black;
}

#secondNav
{
    width: 100%;
    height: 81.6px;
    background-color: #292D32;
    clear: both;
}

.navBar2 a
{
    color: #D2D6DA;
    text-decoration: none;
}

a:hover{
    color: #007bff;
}

.diffLi
{
    color: #8D8E96;
}