body
{
    margin: 0;
    font-family: "Inter", "Segoe UI", "Helvetica Neue", "Open Sans", Arial, sans-serif, 
                 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#firstNav
{
    width: 75%;
    margin: auto;
}

#logoimg
{
    object-fit: cover;
    width: 100%;
    height: 35px;
}

.blenderLogo
{
    display: inline-block;
    margin: auto;
    padding: 10px;
}

.navBar1
{
    float: right;
    padding: 0 10px;
}

li
{
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
}

a
{
    text-decoration: none;
    color: rgb(82, 81, 81);
}

button
{
    border-radius: 5px;
    border: 1px solid;
    background-color: #007bff;
    color: white;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 0 25px rgba(100, 170, 255, 0.6);
}