.contentprezentare{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 140px;
    gap: 30px;
    margin-top: 50px;
}
/*...................................*/
.part9 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.508);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
/*...................................*/
.part10{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 50px;
}
.part10 .text1{
    flex: 1;
    margin-right: 40px;
}
.part10 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part10 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part10 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part10 .EYNimg1{
   flex: 1;
   max-width: 50%;
}
.part10 .EYNimg1 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 30px 50px;
}
/*...................................*/
.part11{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-top: 50px;
}
.part11 .text2{
    flex: 1;
    margin-right: 40px;
}
.part11 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part11 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part11 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part11 .EYNimg2{
   flex: 1;
   max-width: 50%;
}
.part11 .EYNimg2 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 100px -50px;
}
/*...................................*/
.part12{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 50px;
}
.part12 .text3{
    flex: 1;
    margin-right: 40px;
}
.part12 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part12 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part12 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part12 .EYNimg3{
   flex: 1;
   max-width: 50%;
}
.part12 .EYNimg3 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 100px 50px;
}
/*...................................*/
.part13{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-top: 50px;
}
.part13 .text4{
    flex: 1;
    margin-right: 40px;
}
.part13 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part13 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part13 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part13 .EYNimg4{
   flex: 1;
   max-width: 50%;
}
.part13 .EYNimg4 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 100px -50px;
}
/*...................................*/
.part14{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 50px;
}
.part14 .text5{
    flex: 1;
    margin-right: 40px;
}
.part14 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part14 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part14 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part14 .EYNimg5{
   flex: 1;
   max-width: 50%;
}
.part14 .EYNimg5 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 130px 50px;
}
/*...................................*/
.part15{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-top: 50px;
}
.part15 .text6{
    flex: 1;
    margin-right: 40px;
}
.part15 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part15 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part15 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part15 .EYNimg6{
   flex: 1;
   max-width: 50%;
}
.part15 .EYNimg6 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 100px -50px;
}
/*...................................*/
.butonjos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
}
.butonjos p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.508);
    padding: 0 20px;
}
.butonjos button{
    background-color: rgb(66, 165, 245);
    border-radius: 6px;
    padding: 10px 16px;
    color: white;
    font-weight: 500;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.butonjos button:hover{
    background-color: rgb(29, 103, 243);
}
/*...................................*/
#footer{
    background-color: #292D32;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 40px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.firstRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 75%;
    margin: auto;
}
.endingNotes{
    text-align: center;
}
.endingNotes p{
    color: #737E8C;
    font-size: 14px;
}
.endingNotes span{
    padding: 0 15px;
    font-size: 20px;
}
.column{
    display: flex;
    flex-direction: column;
}
.column .header2, .leftSideFooter .header2{
    color: #ABB2BA;
    font-weight: 600;
    text-decoration: none;
}
.column .header2:hover, .leftSideFooter .header2:hover{
    color: #737E8C;
    text-decoration: underline;
}
.column a{
    text-decoration: none;
    color: #737E8C; 
    padding: 2px 0;
    font-size: 14px;
}
.column a:hover{
    text-decoration: underline;
}
.column .last{
    padding-bottom: 13px;
}
.support{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
#bigBtn{
    border-radius: 6px;
    background-color: #03a1fc;
    color: #EAEDF0;
    font-weight: 500;
    padding: 5px 20px;
    font-size: 15px;
    box-shadow: 0 0 25px rgba(29, 103, 243, 0.6);
    white-space: nowrap;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.buttons{
    width: 100%;
    display: flex;
    gap: 15px;
}
.buttons i{
    color: #737E8C;
    font-size: 20px;
}
.leftSideFooter{
    border-left: 2px solid rgba(114, 114, 114, 0.4);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    
}
.donation a{
    color: #737E8C;
    text-decoration: none;
    font-size: 15px;
}
.donation a:hover{
    text-decoration: underline;
}
.donation{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}