.contentprezentare{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 140px;
    gap: 30px;
    margin-top: 50px;
}
/*...................................*/
.part9 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.508);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
/*...................................*/
.part10{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 50px;
}
.part10 .text1{
    flex: 1;
    margin-right: 40px;
}
.part10 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part10 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part10 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part10 .EYNimg1{
   flex: 1;
   max-width: 50%;
}
.part10 .EYNimg1 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 30px 50px;
}
/*...................................*/
.part11{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-top: 50px;
}
.part11 .text2{
    flex: 1;
    margin-right: 40px;
}
.part11 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part11 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part11 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part11 .EYNimg2{
   flex: 1;
   max-width: 50%;
}
.part11 .EYNimg2 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 100px -50px;
}
/*...................................*/
.part12{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 50px;
}
.part12 .text3{
    flex: 1;
    margin-right: 40px;
}
.part12 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part12 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part12 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part12 .EYNimg3{
   flex: 1;
   max-width: 50%;
}
.part12 .EYNimg3 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 100px 50px;
}
/*...................................*/
.part13{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-top: 50px;
}
.part13 .text4{
    flex: 1;
    margin-right: 40px;
}
.part13 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part13 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part13 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part13 .EYNimg4{
   flex: 1;
   max-width: 50%;
}
.part13 .EYNimg4 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 100px -50px;
}
/*...................................*/
.part14{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 50px;
}
.part14 .text5{
    flex: 1;
    margin-right: 40px;
}
.part14 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part14 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part14 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part14 .EYNimg5{
   flex: 1;
   max-width: 50%;
}
.part14 .EYNimg5 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 130px 50px;
}
/*...................................*/
.part15{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-top: 50px;
}
.part15 .text6{
    flex: 1;
    margin-right: 40px;
}
.part15 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.508);
    margin-top: 0;
}
.part15 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part15 ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
}
.part15 .EYNimg6{
   flex: 1;
   max-width: 50%;
}
.part15 .EYNimg6 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 100px -50px;
}
/*...................................*/
.butonjos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
}
.butonjos p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.508);
    padding: 0 20px;
}
.butonjos button{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}