body
{
    margin: 0;
    font-family: "Inter", "Segoe UI", "Helvetica Neue", "Open Sans", Arial, sans-serif, 
                 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #F2F2F3;
}

#firstNav
{
    width: 75%;
    margin: auto;
    padding: 2.4px 0;
}

#firstNav nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F3;
}

#logoimg
{
    width: 128px;
    height: 35px;
}

.blenderLogo
{
    padding: 10px;
}

.blenderLogo img:hover
{
    filter: brightness(125%);
}

.navBar1
{
    padding: 0 10px;
}

.navBar1 ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li
{
    list-style-type: none;
    padding: 0 5px;
}

.navBar1 a
{
    text-decoration: none;
    color: rgb(82, 81, 81);
}

.navBar1 a:hover
{
    color: #007bff;
}

#btn
{
    border-radius: 8px;
    background-color: #03a1fc;
    color: #EAEDF0;
    font-weight: 500;
    padding: 5px 20px;
    font-size: 15px;
    box-shadow: 0 10px 25px rgba(100, 170, 255, 0.6);
    white-space: nowrap;
}

#btn:hover
{
    filter: brightness(107%);
}

#active
{
    color: black;
    padding-bottom: 17px;
    border-bottom: 5px solid black;
}

#title
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url("./Imagini/jobfericit.jpg");
    background-size: cover;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.titleText
{
    width: 50%;
    margin-left: 200px;
    margin-bottom: 150px;
}

#title h1
{
    margin: 0;
    font-weight: 700;
    font-size: 80px;
}

#title p
{
    margin: 0;
    font-size: 24px;
}

#content
{
    width: 75%;
    margin: auto;
    background-color: #FAFAFA;
    border-radius: 15px;
    margin-top: -100px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(114, 114, 114, 0.1);
}

.quickInfo
{
    font-style: italic;
}

.quickInfo p
{
    margin: 0;
    margin-bottom: 16px;
    color: #4C4D52;
    font-size: 16px;
}

.aboutBlender
{
    margin-bottom: 72px;
}

h2
{
    font-size: 28px;
    color: #4C4D52;
    font-weight: 500;
    margin: 0;
    margin-bottom: 16px;
}

#content p:nth-child(n+2), #videoContent p
{
    color: #4C4D52;
    font-size: 17px;
    margin: 0;
    margin-bottom: 16px;
}

.pictureRow
{
    display: flex;
    gap: 30px;
}

.picture
{
    flex: 1;
}

.picture img
{
    border-radius: 15px;
    width: 100%;
    height: 415px;
    object-fit: cover;
}

.picture iframe
{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 30px;
}

#content .pictureRow .picture p, #content .singlePicture .picture p
{
    margin: 0;
    margin-bottom: 48px;
    font-size: 15px;
}

#videoContent
{
    width: 75%;
    margin: auto;
    background-color: #FAFAFA;
    border-radius: 15px;
    margin-top: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(114, 114, 114, 0.1);
}

#videoContent a
{
    color: #4C4D52;
}

#footer
{
    background-color: #292D32;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 40px;
    width: 100%;
}

.firstRow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 75%;
    margin: auto;
}

.endingNotes
{
    text-align: center;
}

.endingNotes p
{
    color: #737E8C;
    font-size: 14px;
}

.endingNotes span
{
    padding: 0 15px;
    font-size: 20px;
}

.column
{
    display: flex;
    flex-direction: column;
}

.column .header, .leftSideFooter .header
{
    color: #ABB2BA;
    font-weight: 600;
    text-decoration: none;
}

.column .header:hover, .leftSideFooter .header:hover
{
    color: #737E8C;
    text-decoration: underline;
}

.column a
{
    text-decoration: none;
    color: #737E8C; 
    padding: 2px 0;
    font-size: 14px;
}

.column a:hover
{
    text-decoration: underline;
}

.column .last
{
    padding-bottom: 13px;
}

.support
{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#bigBtn
{
    border-radius: 6px;
    background-color: #03a1fc;
    color: #EAEDF0;
    font-weight: 500;
    padding: 5px 20px;
    font-size: 15px;
    box-shadow: 0 0 25px rgba(29, 103, 243, 0.6);
    white-space: nowrap;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

#bigBtn:hover
{
    filter: brightness(107%);
}

.socials
{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.buttons
{
    width: 100%;
    display: flex;
    gap: 15px;
}

.buttons i
{
    color: #737E8C;
    font-size: 20px;
}

.leftSideFooter
{
    border-left: 2px solid rgba(114, 114, 114, 0.4);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    
}

.donation a
{
    color: #737E8C;
    text-decoration: none;
    font-size: 15px;
}

.donation a:hover
{
    text-decoration: underline;
}

.donation
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}