footer{
            background-color: #1e3932;
            min-height: 700px;
            color: rgba(255, 255, 255, 0.712);
        }
        .img_f1{width: 55px;
        
            padding-left: 275px;
             
        }
        .tab_foot{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.712);
        }
        th{text-align: left;
            color: rgb(255, 255, 255);
            padding-bottom: 30px;
            padding-right: 170px;
            font-size: 16px;
        }
        td{
            padding-bottom: 20px;
            font-size: 14px;
            font-weight: bold;
        }
        table{
            display: inline;
            padding-left: 70px;
            
        }
        .tab_foot:hover{
            color:white;
        }
        .foot span{
            padding-left: 410px;
        }
        #h4_1{
            padding-left: 410px;
        }
        h4{
            display: inline;
            padding-right: 30px;
        }
        .socials{
            width: 20px;
            padding-right: 40px;
            opacity: 100%;
        }
        .socials:hover{
            cursor: pointer;
            opacity: 70%;
            
        }
        #s1{
            padding-left: 410px;
        }