.banner1{
            text-align: center;

            
        }
        .img1_b1{width: 60%;
        border-radius: 10px;
        
        
        }
        .text_b1{
            position: absolute;
            text-align: left;
  bottom: 60%;
  left: 22%;
  font-weight: bold;
  color: white;
  font-size: 220%;
        }
        .store_box{
            position: absolute;
            text-align: left;
  bottom: 54%;
  left: 22%;
  font-weight: bold;
  color: black;
 background-color: white;
  padding: 12px 28px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
        }
        .store_box:hover{
            background-color: rgba(255, 255, 255, 0.774);
        }
        h1{padding-top: 50px;
            text-align: center;
        }
        .icons{width: 70px;
            
        }
 #lista {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.pct {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}
.icons {
    width: 70px;
    padding-top: 50px;
}    


.bts2{
    text-align: center;
    
}
.bts2 #bt1{

  color: rgb(255, 255, 255);
 background-color: #00754a;
  padding: 14px 24px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  border-width: 0px;
  cursor: pointer;
   opacity: 100%;
}

.bts2 #bt2{

  color: #00754a;
 background-color: #ffffff;
 font-weight: bold;
  padding: 14px 24px;
  border-radius: 20px;
  font-size: 16px;
  border-color: #00754a;
  border-width: 1px;
  cursor: pointer;
   opacity: 100%;
}

.bts2 #bt1:hover{
     opacity: 85%;
}
.bts2 #bt2:hover{
     opacity: 85%;
}



.grid {
display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.cell {
background: #f8f8f8;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.cell img{
    width: 100%;
}
.cell #text{
    padding-top: 3%;

    margin: 0 auto;
    width: 80%; 
}
.cell p {
padding-bottom: 10%;
}
.cell .btngrd {
    width: 80%;
    margin: 0 auto;

    padding-bottom: 25px;
}

.cell .btngrd button {
    background-color: #00754a;
    color: white;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}


