
.navigatie{
    background-color: white;
}
#wrapper{
    font-family:sans-serif;
     position: relative;      
    width: 100%;
    min-height: 100vh;      
    padding-bottom: 700px; 
    font-family: sans-serif;
   
}
body{
    margin: 0;
    padding:0;
    background-color:#f0f0f0;
    overflow-x: hidden;
    min-height: 1500px;
}

 
.leftimage{
    width: 520px;
    height: 1000px;
    position: relative;
    left: 0;
    top: -20px;
    z-index: 1;
    padding-bottom: 200px;
    background-color: #1e3932;
}

p{
    position: relative;
    left:150px;
    top: -500px;
    color: white;
    z-index: 2;
    font-size: 20px;
    


}
.Order{
    z-index:2;
    position:relative; 
    bottom: 480px;
      left: 100px;
     margin: 1px;
     padding: 15px 100px;
     background-color: white;
    color: black;
    width: 600px;
   height: auto;
   border-radius: 100px;
    text-align: center;
     
 text-decoration: none;
 border: thin solid white;
 box-sizing: border-box;
                       
                       
}

.store{
    position: relative;
                     z-index: 2;
                      color: white;
                       left: 100px;
                        bottom: 430px;
                       padding: 15px 55px;
                       background-color:transparent;
                       border: thin solid white;
                       width: 100px;
                       height: auto;
                       border-radius: 100px;
                       text-align: center;
                       margin: auto;
                       text-decoration: none;
                       box-sizing: border-box;
}

.bloc1{
    position: relative;
    left: 450px;
    width: 800px;
    height: 500px;
    bottom: 750px;
}

.paragraf1{
    color: black;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
}
.paragraf2{
    color: black;
    line-height: 30px;
    color: gray;
}

.box1{
    position: absolute;
    width: 270px;
    height:370px;
    top: 300px;
    left: 650px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.imaginebox1{
    width: 290px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
       border-top-right-radius: 10px;
}

.drinks{
    top: 190px;
    color: black;
    left: 45px;
}

.box1paragraf{
 top: 200px;
    color:gray;
    text-align: center;
    width: 245px;
    font-size: 15px;
    left: 15px;
}

.drinksorder{
        position: absolute;
                      color: #1e3932;
                       top: 330px; 
                       left: 20px;
                        bottom: auto;
                        margin: 1px;
                       padding: 10px;
                       background-color:transparent;
                       border: thin solid #1e3932;
            
                       width: 100px;
                       height: 20px;
                       border-radius: 100px;
                       text-align: center;
                       text-decoration: none;
                       z-index: 3;
}
.box2{
    position: absolute;
    width: 270px;
    height:370px;
    top: 300px;
    left: 955px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    

}

.imaginebox2{
    width: 290px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
      border-top-left-radius: 10px;
       border-top-right-radius: 10px
}

.explore{
    top: 191px;
    color: black;
    left: 70px;
}

.box2paragraf{
    top: 200px;
    color:gray;
    text-align: center;
    width: 245px;
    font-size: 15px;
    left: 15px;
}

.foodbox2{
        position: absolute;
                      color: #1e3932;
                       top: 330px; 
                       left: 20px;
                        bottom: auto;
                        margin: 1px;
                       padding: 10px;
                       background-color:transparent;
                       border: thin solid #1e3932;
                       width: 100px;
                       height: 18px;
                       border-radius: 100px;
                       text-align: center;
                       text-decoration: none;
                       z-index: 3;
}

.bloc2{
    position: absolute;
    left: 500px;
    width: 700px;
    height: 700px;
    bottom: 550px;

}
 .alergeni{
    color:black;
    font-size:25px;
    margin-bottom: -10px;
 }

 .alergenii{
    color: gray;
    margin-bottom: 10px;
    
 }

 .algfood{
     position: absolute ;
                      color: #1e3932;
                       bottom: 1040px;
                       left: 140px;
                    
                        margin: 1px;
                       padding: 10px;
                       background-color:transparent;
                       border: thin solid #1e3932;
                       width: 370px;
                       height: 30px;
                       line-height: 25px;
                       border-radius: 100px;
                       text-align: center;
                       text-decoration: none;
                       z-index: 3;

 }

 .algdrinks{
    color: #1e3932;
    position: absolute;
                       bottom: 970px;
                       left: 140px;
                        margin: 1px;
                       padding: 10px;
                       background-color:transparent;
                       border: thin solid #1e3932;
                       width: 380px;
                       height: 30px;
                       line-height: 30px;
                       border-radius: 100px;
                       text-align: center;
                       text-decoration: none;
                       z-index: 3;


 }
 footer {
    position: relative;
    margin-top: -1500px; 
    z-index: 5;
}