body{
    background-color:lightgray; 
}

#wrapper{
    font-family:sans-serif;
    display: inline;
    color: gray;
}
.left{
    padding: 100px;
}
 
.leftimage{
   display: flex;
    justify-content: flex-start;
    width: 500px;
    height: 700px;
   position: absolute;
    left: 0;
    top: 0; 
    z-index: 1;
    padding-bottom: 200px;
     background-color: rgba(2, 27, 2, 0.825);
  
    


}

p{
    position: absolute;
    left:5px;
    top: 380px;
    color: white;
    z-index: 2;
    font-size: 20px;
    


}
.menu{
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.Order{
    z-index:2;
    position:absolute; 
    top: 430px;
      left: 2px;
      bottom: auto;
     margin: 1px;
     padding: 10px 20px;
     background-color: white;
    color: black;
    width: 455px;
   height: auto;
   border-radius: 100px;
    text-align: center;
     
 text-decoration: none;
                       
                       
}

.store{
    position: absolute;
                     z-index: 2;
                      color: white;
                       top: 480px; 
                       left: 2px;
                        bottom: auto;
                       padding: 10px;
                       background-color:transparent;
                       border: thin solid white;
                       width: 470px;
                       height: auto;
                       border-radius: 100px;
                       text-align: center;
                       margin: auto;
                       text-decoration: none;
}

.bloc1{
    position: absolute;
    width: 1100px;
    height: 1200px;
              
       
}

.paragraf1{
    color: black;
    top: -100px;
    left: 500px;
    line-height: 40px;
}

.paragraf2{
    top: 80px;
    left: 500px;
    line-height: 25px;
    font-size:smaller;
    color: gray;
    font-weight: bold;

}

.box1{
    position: absolute;
    width: 300px;
    height:400px;
    top: 340px;
    left: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
}

.imaginebox1{
    width: 320px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
}

.drinks{
    top: 190px;
    color: black;
    left: 65px;
}

.box1paragraf{
    top: 230px;
    color:gray;
    
    text-align: center;
    width: 245px;
    height: 270px;
    font-size: 15px;
    left: 35px;
}

.drinksorder{
        position: absolute;
                      color: darkgreen;
                       top: 330px; 
                       left: 50px;
                        bottom: auto;
                        margin: 1px;
                       padding: 10px;
                       background-color:transparent;
                       border: thin solid darkgreen;
            
                       width: 200px;
                       height: 20px;
                       border-radius: 100px;
                       text-align: center;
                       text-decoration: none;
                       z-index: 3;
}

.box2{
    position: absolute;
    width: 300px;
    height:400px;
    top: 340px;
    left: 1000px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
}

.imaginebox2{
    width: 320px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
}

.explore{
    top: 190px;
    color: black;
    left: 100px;
}

.box2paragraf{
    top: 230px;
    color:gray;
    
    text-align: center;
    width: 245px;
    height: 270px;
    font-size: 15px;
    left: 35px;
}

.foodbox1{
        position: absolute;
                      color: darkgreen;
                       top: 330px; 
                       left: 50px;
                        bottom: auto;
                        margin: 1px;
                       padding: 10px;
                       background-color:transparent;
                       border: thin solid darkgreen;
            
                       width: 200px;
                       height: 20px;
                       border-radius: 100px;
                       text-align: center;
                       text-decoration: none;
                       z-index: 3;
}
