.navigatie { 
    background-color: white; 
    position: unset !important; /* am adaugat unset pentru a nu mai fie fixat sus */
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
    font-family: sans-serif;
}

#wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: flex-start;

}

.left {
    position: relative;
}

.leftimage {
    width: 520px;
    height: 1000px;
    display: block;
}

.menu {
    position: absolute;
    top: 650px;
    left: 20px;
    color: white;
    font-size: 40px;
}

.Order {
    position: absolute;
    top: 700px;
    left: 20px;
    padding: 15px 100px;
    width: 200px;
    background: white;
    border-radius: 100px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.store {
    position: absolute;
    top: 770px;
    left: 20px;
    width: 200px;
    padding: 15px 100px;
    border: 1px solid white;
    border-radius: 100px;
    text-decoration: none;
    color: white;
}

.center {
    padding-left: 0px;
    padding-top: 50px;
}

.bloc1 {
    width: 800px;
    padding-left: 50px;
}

.paragraf1 {
    color: black;
    font-size: 25px;
    line-height: 35px;
}

.paragraf2 {
    color: gray;
}

.boxuri {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.box1, .box2 {
    width: 300px;
    height: 370px;
    background: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    position: relative;
    padding: 10px;
}
.box1{
    left: 100px;
    bottom:-40px;
}
.box2{
    left: 450px;
    bottom: 350px;
    
}

.imaginebox1, .imaginebox2 {
    width: 320px;
    border-radius: 10px ;
    position: absolute;
    top: 0;
    left: 0;
}

.drinks, .explore {
    position: absolute;
    top: 190px;
    font-size: 20px;
}

.drinks {
    left: 45px;
}

.explore {
    left: 70px;
}

.box1paragraf, .box2paragraf {
    position: absolute;
    top: 220px;
    width: 260px;
    left: 15px;
    text-align: center;
    color: gray;
}

.drinksorder, .foodbox2 {
    position: absolute;
    top: 330px;
    left: 20px;
    padding: 10px;
    border: 1px solid #1e3932;
    border-radius: 100px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #1e3932;
}

.bloc2 {
    position: relative;
    margin-top: -320px;
    left: 50px;
}

.alergeni {
    font-size: 25px;
    left: 50px;
}

.alergenii {
    color: gray;
    left: 50px;
    width: 900px;
}

.algfood, .algdrinks {
    display: block;
    width: 380px;
    padding: 20px;
    border: 1px solid #1e3932;
    border-radius: 100px;
    color: #1e3932;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

footer {
    width: 100%;
    background: white;
    margin-top: -40px;
    padding: 40px ;
}
