.footer {
    width: 100%;
    background: white;
    margin-top: -40px;
    padding: 40px ;
}
.navigatie {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
main {
    padding: 20px;
    position: relative;
    left : 150px;
    background-color: #f9f9f9;
}
.intrebare-box {
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: white;
    max-width: 350px;
}

.intrebare-box p {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #333;
}

.buton-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #00704A;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.buton-link:hover {
    background-color: #005c3c;
}
p {
    line-height: 1.6;
    font-size: 16px;
    color: #5b5b5b;
}
.intrebare-box p{
    font-size: 20px;
}
.intrebari-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    gap: 0px;
    margin-top: 10px;
}
.left{
    background-color: #f9f9f9;
}
body {
    background-color: #f9f9f9;
}
