.footer {
    width: 100%;
    background: white;
    margin-top: -40px;
    padding: 40px ;
}
.navigatie {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
main {
    padding: 20px;
    position: relative;
    left : 150px;
}
.intrebare-box {
    border: 2px solid 
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
}

.intrebare-box p {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #333;
}

.buton-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #00704A;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.buton-link:hover {
    background-color: #005c3c;
}
p {
    line-height: 1.6;
    font-size: 16px;
    color: #5b5b5b;
}