.stanga { position: absolute; top: 10%; left: 0; right: 62%; bottom: -25%;}
.dreapta { position: absolute; top: 10%; left: 38%; right: 0; bottom: -25%; background: blue;  }
.corp{
padding-bottom: 100%;
}