.stanga {position: absolute; margin: auto; top: 10%; left: 0; right: 62%; bottom: -25%; }
.dreapta { position: absolute; margin: auto;  top: 10%; left: 38%; right: 0; bottom: -25%;  }

*{
    font-family: Arial, Helvetica, sans-serif;
}

.text{
text-align: left;
color: white;
font-size: 11px;
position: relative;
bottom: 40%;
left: 45%;
width: 45%;
}

.text #txt1{
    padding: 5% 0;
    text-transform: uppercase;
}


.butonas #bt1{
position: absolute;
  color: #ffffff;
 background-color: #ffffff00;
 font-weight: bold;
  padding: 14px 24px;
  border-radius: 30px;
  font-size: 14px;
  border-color: #ffffff3f;
  border-width: 1px;
  cursor: pointer;
   opacity: 100%;
   bottom: 25%;
left: 45%;
}

.butonas #bt1:hover{
     opacity: 85%;
      background-color: #ffffff28;
}




.corp{
padding-bottom: 55%;
}

hr{
    width: 90%;
    margin: 5% auto;
    opacity: 30%;
    
}

.grid {
display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    max-width: 55%;
    margin: 0 10%;
   
}
.cell {
background: white;
border: 1px solid rgba(128, 128, 128, 0.301);

min-height: 380px;
max-height: 380px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.cell img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
.cell #text{
    padding-top: 3%;
border-radius: 5px;
   padding: 10px 12px 6px 12px;
    
}
.cell p {
padding-bottom: 10%;
font-size: 14px;
opacity: 50%;
min-height: 18%;
max-height: 18%;

}
.cell .btngrd {
    width: 100%;
    
}

.cell .btngrd button {
    background-color: white;
    color: #009F32;
  
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight:bold;
    border-radius: 5px;
    margin: 5% 2%;
}
.cell .link_icon{
max-width: 15px;
    display: inline-block;
}
.dreapta #titlu{
    color: black;
    font-size: 160%;
    max-width: 55%;
    margin: 7% 0 1% 10%;
}