.stanga { position: absolute; top: 10%; left: 0; right: 62%; bottom: -25%;}
.dreapta { position: absolute; top: 10%; left: 38%; right: 0; bottom: -25%;  }

*{
    font-family: Arial, Helvetica, sans-serif;
}
.corp{
padding-bottom: 100%;
}

hr{
    width: 90%;
    margin: 10px auto;
    opacity: 30%;
    
}

.grid {
display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
   
}
.cell {
background: white;
border: 1px solid rgba(128, 128, 128, 0.301);

max-height: 400px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.cell img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
.cell #text{
    padding-top: 3%;
border-radius: 5px;
   padding: 10px 12px 6px 12px;
    
}
.cell p {
padding-bottom: 10%;
font-size: 14px;
opacity: 50%;

}
.cell .btngrd {
    width: 100%;
}

.cell .btngrd button {
    background-color: white;
    color: #00C83E;
    padding: 6px 12px;

    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight:bold;
    border-radius: 5px;
}
.cell .link_icon{
    width: 10%;
    position: relative;
    top: -17px;
    left: 120px;
}