* {
    margin: 0;
    padding: 0;
}

html {
 font-size: 16px;
 font-family:Georgia, Times,serif;
 color:#666666;
 }

 #header{
    height: 160px
}

.nav{
    height: 30px;
    width: 100%;
}

.nav ul{
    width: 100%;
    background-color:  #aeaca8;
    overflow: auto;
}

.nav ul li{
    display: inline;
    margin: 5px;
}

.nav ul li a{
    color: #000000;
}

.nav ul li a:hover{
    color: #ffffff;
}

#primul{
    color: #ffffff
}

#content {
    overflow: auto;
    float: left;
    border-right: 1px solid;
    box-shadow:   ;
    
}

figure{
    padding: 5px;
    border: 1px solid black;
    background-color: #fff;
}

.fi{
    float: left;
    border: 1px solid black;
    margin: 20px;
}

.img-figure{
    width: 290px;
    height: 190px;
}

figcaption{
    width: 290px;
    height:22px;
}

.article{
    width: 659px;
    border: 1px solid black;
}

.description{

}