/*pg1*/

section {
    padding-top: 40px;
    width: 50%;
    margin-right: 0px;
    position: static;
    margin-bottom: 50px;

}

section h1 {

    font-size: 55px;
    font-weight: 350;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: "^";
    color: black;
    position: absolute;
    font-size: 28px;
    line-height: 0;
    margin-top: 12px;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}

details[open] summary:after {
    transform: rotate(45deg);
    font-size: 32px;
}

details summary {
    outline: 0;
}

details p {
    font-size: 15px;
    margin: 0 0 16px;
    padding-top: 16px;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper h2 {
    margin-bottom: 15px;
    font-size: 20px;
}


.box1 {
    display: flex;
    gap: 0px;
}


.box {
    border: 1px solid rgb(172, 163, 163);
    background: white;
    padding: 15px;
    height: 170px;
}


.redir {
    display: flex;
    height: 170px;
    text-decoration: none;
    color: inherit;
}

.redirimg {
    width: 170px;
    height: 170px;


}


.redircontent {
    display: flex;
    flex-direction: column;
    padding: 16px;

}


.tag {
    font-size: 11px;
    color: #6f6f6f;
    margin-bottom: 25px;
    margin-top: -18px;
}


.redirtitlu {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: black;
    margin-top: -15px;
}


.sageata {
    margin-top: auto;
    font-size: 18px;
    color: #0f62fe;
    margin-top: -15px;

}


.b a:first-of-type {
    background-color: #007bff;
    color: white;
    border: 10px solid #007bff;
    text-decoration: none;
    margin-bottom: 30px;
}


.b a:last-of-type {
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
    text-decoration: none;
    margin-bottom: 30px;
    width: 310px;
    height: 30px;
    align-content: center;


}

#arrow {
    color: #007bff;
    display: inline;
}


.alp h1 {
    font-size: 56px;
    font-weight: 500;
    color: #1964b5;
    margin-left: 20px;


}

.b a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 20px;
    margin-right: 15px;

}


.c {
    font-size: 18px;
    line-height: 1.5;

}

.p-dreapta {
    float: right;
    margin-top: -200px;


}

.p-dreapta img {
    width: 900px;
    height: 450px;
}

.titlu h1 {
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.titlu p {
    text-align: left;
    margin-left: 750px;
    margin-top: -110px;
    font-size: 25px;

}



.doi h1 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}


.doi-img img {
    width: 700px;

}

.doi p {
    font-size: 20px;
    text-align: left;
    margin-left: 800px;
    position: relative;
    top: -400px;
    font-weight: 400;
    border-bottom: 1px solid rgb(197, 193, 193);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;


}


.email label {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 400;
}

.email input {


    background-color: #e6e6e6;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 650px;
    font-size: 16px;
    border-radius: 0;
}


.email {

    font-size: 20px;
    text-align: left;
    margin-left: 800px;
    position: relative;
    top: -400px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;
}


.pi {

    font-size: 14px;
    text-align: left;
    margin-left: 800px;
    position: relative;
    top: -400px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;


}

.pi a {
    text-decoration: none;
    color: rgb(0, 109, 241);
    font-weight: 400;
}

.pi a:hover {
    text-decoration: none;
}

button {

    font-size: 14px;
    text-align: center;
    margin-left: 800px;
    position: relative;
    top: -400px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;
    background-color: #1b7ce4;
    color: white;
    border: 1px solid #1b7ce4;
    width: 130px;
    padding: 13px 20px;
}


/*pg 2 css*/


.dropdown {
    position: relative;
    display: inline-block;
}


.drop1 {

    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: inherit;
    padding: 0;

}


.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: inherit;
    padding: 0;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.i1 {

    background-image:
        linear-gradient(to right, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0)),
        url("https://www.ibm.com/adobe/dynamicmedia/deliver/dm-aid--652011e7-eb8d-4e07-8b6a-13584420be9a/smart-talks-s6e5-sftw-banner-image-hi.jpg?preferwebp=true&width=960");
    background-size: cover;
    background-position: center;
    padding: 120px 40px;

}

.i1 p {
    font-size: 20px;
    color: white;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.i1 h1 {
    font-size: 50px;
    font-weight: 300;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.butonL {
    background-color: rgb(0, 0, 255);
    font-size: 16px;
    padding: 10px 18px;
    border: none;
    display: inline;
    align-items: center;
    font-weight: 600;
}

.butonL a {
    text-decoration: none;
    color: white;
}

.contentvideo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 100%;
    padding-left: 80px;
}

.contentvideo .text {
    width: 60%;
    display: block;
}

.contentvideo img {
    width: 800px;
    height: auto;
    padding-right: 100px;
    margin-top: 20px;

}

.contentvideo h4 {
    text-decoration: underline;

}

.contentvideo h3,
.contentvideo p,
.contentvideo a {
    display: block;
    text-decoration: none;
}


.exp h2 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 90px;
    font-weight: 400;
}


.cont1 {
    display: inline-block;
    padding: 15px;
    background-color: white;
    font-family: inherit;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    margin: 0%;
    padding: 0%;
    background-color: beige;
}

.cont1 img {
    width: 400px;
    height: auto;
    margin: 0%;
    padding: 0%;

}

.cont1 h3 {
    margin-bottom: 50px;
    padding-left: 30px;
}

.cont1 p {
    margin-bottom: 50px;
    padding-left: 30px;
}

.met {
    padding-left: 80px;
}

.event h2 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 90px;
    font-weight: 400;
}

.event p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 90px;


}

.photo {
    display: flex;
    gap: 20px;
    justify-content: center;


}

.photo figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

}

.photo img {
    width: 300px;
    height: auto;
}



.photo1 {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.photo1 figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

}

.photo1 img {
    width: 300px;
    height: auto;
}


.linku {
    max-width: 900px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}

.link-titlu {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.link-coloana {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.link-col {
    width: 100%;
}

.linku a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    text-decoration: none;
    color: #0070f3;
    font-size: 15px;
    border-bottom: 1px solid rgb(136, 123, 123);
}

.he2 ul {
    margin-top: 40px;
    margin-left: 0px;
}


/*comun*/

footer {
    background-color: black;
    padding: 50px 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    width: 120px;
    margin-bottom: 40px;
}

.meniu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.meniu div {
    width: 22%;
}

.meniu h3 {
    margin-bottom: 15px;
    font-size: 16px;
    color: antiquewhite;
}

.meniu ul {
    list-style: none;
    margin: 0%;
    padding: 0%;

}

.meniu li {
    margin-bottom: 10px;
}

.meniu a {
    color: white;
    font-size: 12px;
    text-decoration: none;

}

.meniu a:hover {
    text-decoration: underline;
}

.meniu1 ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.meniu1 a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.meniu1 a:hover {
    text-decoration: underline;
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}


header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: black;
}

header ul {
    margin-top: -50px;
    margin-left: 90px;
    margin-bottom: 30px;

}

.icon-link {
    display: flex;
    gap: 15px;
    align-items: center;
    float: right;
    margin-top: -50px;
}

.icon-link a {
    text-decoration: none;
    color: black;
}

.icon-link a:hover i {
    color: black;
    text-decoration: none;
}

.icon-link i {
    font-size: 15px;

}