header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}









header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: black;
}


section {
    padding-top: 40px;
    width: 50%;
    margin-right: 0px;
    position: static;

}

h1 {
    font-size: 32px;
    font-weight: 500;

}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: "^";
    color: black;
    position: absolute;
    font-size: 28px;
    line-height: 0;
    margin-top: 12px;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}

details[open] summary:after {
    transform: rotate(45deg);
    font-size: 32px;
}

details summary {
    outline: 0;
}

details p {
    font-size: 15px;
    margin: 0 0 16px;
    padding-top: 16px;
}

.wrapper {
    width: 650px;
    font-family: Arial, sans-serif;
}

.wrapper h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.box {
    width: 320px;
    padding: 20px;
    border: 1px solid gray;
    background: white;
    margin: 20px;
}

.redir {
    display: flex;
    padding: 15px;
    align-items: flex-start;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: box-shadow .2s;
}

.redirimg {
    width: 140px;
    height: auto;
    margin-right: 15px;
}

.redircontent {
    display: flex;
    flex-direction: column;
}

.tag {
    font-size: 14px;
    color: #777;
    margin-bottom: 6px;
}

.redirsageata {
    margin-top: auto;
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.redirtitlu {
    margin: 0%;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: normal;
    color: black;
}

footer {
    background-color: black;
    padding: 50px 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;




}

.logo img {


    width: 120px;
    margin-bottom: 40px;
}



.meniu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.meniu div {
    width: 22%;
}

.meniu h3 {
    margin-bottom: 15px;
    font-size: 16px;
    color: antiquewhite;
}

.meniu ul {
    list-style: none;
    margin: 0%;
    padding: 0%;

}

.meniu li {
    margin-bottom: 10px;
}



.meniu a {

    color: white;
    font-size: 12px;
    text-decoration: none;

}

.meniu a:hover {
    text-decoration: underline;
}

.meniu1 ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.meniu1 a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.meniu1 a:hover {
    text-decoration: underline;
}





/*pg 2 css*/


.dropdown {
    position: relative;
    display: inline-block;




}


.drop1 {

    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: inherit;
    padding: 0;

}


.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: inherit;
    padding: 0;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.i1 {

    background-image:
        linear-gradient(to right, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0)),
        url("https://www.ibm.com/adobe/dynamicmedia/deliver/dm-aid--652011e7-eb8d-4e07-8b6a-13584420be9a/smart-talks-s6e5-sftw-banner-image-hi.jpg?preferwebp=true&width=960");
    background-size: cover;
    background-position: center;
    padding: 120px 40px;

}

.i1 p {
    font-size: 20px;
    color: white;
    font-weight: 300;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.i1 h1 {
    font-size: 50px;
    font-weight: 300;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.butonL {
    background-color: rgb(0, 0, 255);
    font-size: 16px;
    padding: 10px 18px;
    border: none;
    display: inline;
    align-items: center;
   font-weight: 600;
}

.butonL a {
    text-decoration: none;
    color: white;
}




.contentvideo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  padding-left: 80px;
}

.contentvideo .text {
  width: 60%; 
  display: block;
}

.contentvideo img {
  width: 800px; 
  height: auto;
  padding-right: 100px;
  
}

.contentvideo h4{
    text-decoration:underline;

}
.contentvideo h3,
.contentvideo p,
.contentvideo a {
  display: block;
  text-decoration: none;
}


.exp h2{
    font-size:40px;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     padding-left: 90px;
     font-weight: 400;
}


.cont1{
    display: inline-block;
    padding: 15px;
    background-color: white;
    font-family:inherit;
    text-decoration: none;
    color:black;
     border: 1px solid gray;
     margin: 0%;
     padding: 0%;
     background-color: beige;
   
   
     
  
}

.cont1 img{
    width:400px;
    height: auto;
      margin: 0%;
     padding: 0%;
   
}

.cont1 h3{
    margin-bottom:50px;
    padding-left: 30px;
}

.cont1 p{
    margin-bottom:50px;
    padding-left: 30px;
}

.met{
    padding-left: 80px;
}

.event h2{
    font-size:40px;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     padding-left: 90px;
     font-weight: 400;
}

.event p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     padding-left: 90px;
    
      
}

.photo {
   display: flex;             
  gap: 20px;                
  justify-content: center;   
  
     
}

 .photo figure
 { 
    display: flex;
  flex-direction: column;    
  align-items: center;       
  margin: 0;
 
}

.photo img {
  width: 300px;             
  height: auto;
}



.photo1 {
   display: flex;             
  gap: 20px;                
  justify-content: center;   
     
}

 .photo1 figure
 { 
    display: flex;
  flex-direction: column;    
  align-items: center;       
  margin: 0;
 
}

.photo1 img {
  width: 300px;             
  height: auto;
}




.links2{

    text-align: right;

   }