header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color:white;
    color: black;
    position: sticky;
    top: 0;
}

header nav ul{
    list-style: none;
    display: flex;
    gap:20px;
    
    

}
header nav ul li a{
    text-decoration: none;
    color:black;
}

header nav ul li a:hover{
    color:rgb(0, 0, 0);
}


section {
    padding-top: 40px;
    width: 50%;
    margin-right: 0px;
   position:static;

}

h1 {
    font-size: 32px;
    font-weight: 500;

}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: "^";
    color: black;
    position: absolute;
    font-size: 28px;
    line-height: 0;
    margin-top: 12px;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}

details[open] summary:after {
    transform: rotate(45deg);
    font-size: 32px;
}

details summary {
    outline: 0;
}

details p {
    font-size: 15px;
    margin: 0 0 16px;
    padding-top: 16px;
}

footer {
    background-color: black;
    padding: 50px 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;




}

.logo img {


    width: 120px;
    margin-bottom: 40px;
}



.meniu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.meniu div {
    width: 22%;
}

.meniu h3 {
    margin-bottom: 15px;
    font-size: 16px;
    color: antiquewhite;
}

.meniu ul {
    list-style: none;
    margin: 0%;
    padding: 0%;

}

.meniu li {
    margin-bottom: 10px;
}



.meniu a {

    color: white;
    font-size: 12px;
    text-decoration: none;

}

.meniu a:hover {
    text-decoration: underline;
}

.meniu1 ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.meniu1 a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.meniu1 a:hover {
    text-decoration: underline;
}